/*
!/bin
!/.*
/.DS_Store
/.dotfiles.git
/.bash_history
/.bash_sessions
/.config/*
!/.config/autostart
!/.config/karabiner
/.gdb_history
/.lesshst
/.local/share/*
!/.local/share/applications
/.local/share/applications/*
!/.local/share/applications/XTerm.desktop
/.ssh
/.viminfo
/.vim/bundle/*
/.wireshark/recent*
/.wireshark/preferences
/.Xauthority
