[user]
	name = Daniel Picken
	email = dpicken@users.noreply.github.com
[core]
	editor = vim
[branch]
	autosetuprebase = always
[push]
	default = simple
[alias]
 	lg = log --pretty=format:'%C(red)%h%C(yellow)%d %C(reset)%s %C(blue)(%an) %C(green)(%cd)%C(reset)' --date=short
