[user]
	name = Daniel Picken
	email = dpicken@users.noreply.github.com
[core]
	editor = vim
[branch]
	autosetuprebase = always
[push]
	default = simple
[alias]
	log1 = log --date=short --pretty=format:\"%C(yellow)%h %C(yellow)%cd %C(reset)%s\"
