/*
!/bin
!/Documents
/Documents/*
!/Documents/Development
/Documents/Development/*
!/Documents/Development/TerminalKeys.terminal
!/.*
/.DS_Store
/.dotfiles.git
/.bash_history
/.bash_sessions
/.cache
/.config/*
!/.config/autostart
!/.config/karabiner
/.gdb_history
/.lesshst
/.lldb
/.local/share/*
!/.local/share/applications
/.local/share/applications/*
!/.local/share/applications/XTerm.desktop
/.rnd
/.ssh
/.Trash
/.viminfo
/.vim/bundle/*
/.wireshark/recent*
/.wireshark/preferences
/.Xauthority
