[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=autocutsel
Type=Application
Exec=autocutsel
Terminal=false
Icon=autocutsel
Comment=Synchronize the X clipboard and the cutbuffer
NoDisplay=false
Categories=Utility;
