[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Conky
Type=Application
Exec=conky -p 5
Terminal=false
Icon=conky
Comment=System monitor
NoDisplay=false
Categories=Utility;
